[
  {
    "objectId": "577be6c7c4e347b8a9a9c9fc",
    "name": "Прекрасный арбидол 17",
    "description": "Irure ea deserunt consequat ad sit mollit sint eiusmod dolore sit in commodo. Commodo dolor laborum et minim occaecat consequat duis ipsum ad. Ad sunt consectetur do nostrud sunt magna. Aute veniam incididunt exercitation ipsum laborum enim adipisicing tempor sint nulla labore occaecat elit minim. Aliquip ea enim adipisicing magna anim exercitation eiusmod et dolore exercitation esse aliqua. Adipisicing laborum officia excepteur cupidatat et ea. Id aute excepteur amet ea nisi anim adipisicing nulla duis.",
    "indicated": "Судорожные синдромы, Смерть, Передоз",
    "contraIndicated": "БАР, Судорожные синдромы, Работа",
    "inSale": [
      {
        "id": 0,
        "name": "Продажное название 16",
        "price": 107
      },
      {
        "id": 1,
        "name": "Продажное название 10",
        "price": 615
      },
      {
        "id": 2,
        "name": "Продажное название 3",
        "price": 792
      }
    ],
    "proofSection": {
      "proofIndex": 87,
      "proofBaseText": "Не существует. Поиск упоминаний в исследованиях действующего вещества Адаптола \"тетраметилтетраазабициклооктандион\" не выдаёт ни одного результата в базах CC, PM, FDA, RX, WHO, ФК. Однако торговое наименование Adaptol имеет около 60 проиндексированных Pm нерандомизированных неконтролируемых моноцентровых исследований.",
      "proofStuff": [
        {
          "proofSource": "NOFX",
          "proofDescription": "В базе Cochrane множество качественных РКИ и мета-анализов вроде этих",
          "proofURLS": [
            "http://onlinelibrary.wiley.com/doi/10.1002/14651858.CD010567.pub2/abstract"
          ]
        },
        {
          "proofSource": "NOFX",
          "proofDescription": "В базе Cochrane множество качественных РКИ и мета-анализов вроде этих",
          "proofURLS": [
            "http://onlinelibrary.wiley.com/doi/10.1002/14651858.CD010567.pub2/abstract"
          ]
        },
        {
          "proofSource": "Pubmed",
          "proofDescription": "В базе Cochrane множество качественных РКИ и мета-анализов вроде этих",
          "proofURLS": [
            "http://onlinelibrary.wiley.com/doi/10.1002/14651858.CD010567.pub2/abstract"
          ]
        }
      ]
    }
  },
  {
    "objectId": "577be6c783419b7a608ca345",
    "name": "Прекрасный арбидол 4",
    "description": "Culpa sint Lorem eiusmod veniam nisi minim excepteur et laboris quis. Minim laboris officia fugiat est do deserunt ad. Lorem Lorem in exercitation nostrud officia occaecat eiusmod consectetur.",
    "indicated": "БАР, Судорожные синдромы, Работа",
    "contraIndicated": "БАР, Судорожные синдромы, Работа",
    "inSale": [
      {
        "id": 0,
        "name": "Продажное название 5",
        "price": 230
      },
      {
        "id": 1,
        "name": "Продажное название 14",
        "price": 798
      },
      {
        "id": 2,
        "name": "Продажное название 14",
        "price": 769
      }
    ],
    "proofSection": {
      "proofIndex": 22,
      "proofBaseText": "Не существует. Поиск упоминаний в исследованиях действующего вещества Адаптола \"тетраметилтетраазабициклооктандион\" не выдаёт ни одного результата в базах CC, PM, FDA, RX, WHO, ФК. Однако торговое наименование Adaptol имеет около 60 проиндексированных Pm нерандомизированных неконтролируемых моноцентровых исследований.",
      "proofStuff": [
        {
          "proofSource": "Pubmed",
          "proofDescription": "В базе Cochrane множество качественных РКИ и мета-анализов вроде этих",
          "proofURLS": [
            "http://onlinelibrary.wiley.com/doi/10.1002/14651858.CD010567.pub2/abstract"
          ]
        },
        {
          "proofSource": "Pubmed",
          "proofDescription": "В базе Cochrane множество качественных РКИ и мета-анализов вроде этих",
          "proofURLS": [
            "http://onlinelibrary.wiley.com/doi/10.1002/14651858.CD010567.pub2/abstract"
          ]
        },
        {
          "proofSource": "Pubmed",
          "proofDescription": "В базе Cochrane множество качественных РКИ и мета-анализов вроде этих",
          "proofURLS": [
            "http://onlinelibrary.wiley.com/doi/10.1002/14651858.CD010567.pub2/abstract"
          ]
        }
      ]
    }
  },
  {
    "objectId": "577be6c7d8aa4a1af444b03f",
    "name": "Прекрасный арбидол 19",
    "description": "Duis ut nulla officia fugiat Lorem mollit sint. Pariatur tempor id pariatur Lorem est. Sint esse qui aliqua consequat id excepteur reprehenderit laborum. Do adipisicing aliquip irure ut excepteur irure commodo. Aliquip eiusmod dolor occaecat duis fugiat. Exercitation duis amet do cillum. Cupidatat do ullamco non consectetur anim incididunt amet dolore nulla qui nostrud.",
    "indicated": "БАР, Судорожные синдромы, Работа",
    "contraIndicated": "Нейропатия, Переутомляемость",
    "inSale": [
      {
        "id": 0,
        "name": "Продажное название 17",
        "price": 179
      },
      {
        "id": 1,
        "name": "Продажное название 10",
        "price": 809
      },
      {
        "id": 2,
        "name": "Продажное название 6",
        "price": 339
      }
    ],
    "proofSection": {
      "proofIndex": 10,
      "proofBaseText": "Не существует. Поиск упоминаний в исследованиях действующего вещества Адаптола \"тетраметилтетраазабициклооктандион\" не выдаёт ни одного результата в базах CC, PM, FDA, RX, WHO, ФК. Однако торговое наименование Adaptol имеет около 60 проиндексированных Pm нерандомизированных неконтролируемых моноцентровых исследований.",
      "proofStuff": [
        {
          "proofSource": "NOFX",
          "proofDescription": "В базе Cochrane множество качественных РКИ и мета-анализов вроде этих",
          "proofURLS": [
            "http://onlinelibrary.wiley.com/doi/10.1002/14651858.CD010567.pub2/abstract"
          ]
        },
        {
          "proofSource": "Pubmed",
          "proofDescription": "В базе Cochrane множество качественных РКИ и мета-анализов вроде этих",
          "proofURLS": [
            "http://onlinelibrary.wiley.com/doi/10.1002/14651858.CD010567.pub2/abstract"
          ]
        },
        {
          "proofSource": "Pubmed",
          "proofDescription": "В базе Cochrane множество качественных РКИ и мета-анализов вроде этих",
          "proofURLS": [
            "http://onlinelibrary.wiley.com/doi/10.1002/14651858.CD010567.pub2/abstract"
          ]
        }
      ]
    }
  },
  {
    "objectId": "577be6c78696fd7bfd4ff345",
    "name": "Прекрасный арбидол 2",
    "description": "Velit labore tempor exercitation qui reprehenderit cillum excepteur reprehenderit dolor ad occaecat nisi. Et exercitation laborum ea ipsum tempor mollit incididunt non voluptate nostrud duis ut duis incididunt. Aliquip officia nostrud voluptate ea aliqua quis amet qui voluptate aliquip.",
    "indicated": "Нейропатия, Переутомляемость",
    "contraIndicated": "Судорожные синдромы, Смерть, Передоз",
    "inSale": [
      {
        "id": 0,
        "name": "Продажное название 3",
        "price": 212
      },
      {
        "id": 1,
        "name": "Продажное название 12",
        "price": 129
      },
      {
        "id": 2,
        "name": "Продажное название 2",
        "price": 378
      }
    ],
    "proofSection": {
      "proofIndex": 90,
      "proofBaseText": "Не существует. Поиск упоминаний в исследованиях действующего вещества Адаптола \"тетраметилтетраазабициклооктандион\" не выдаёт ни одного результата в базах CC, PM, FDA, RX, WHO, ФК. Однако торговое наименование Adaptol имеет около 60 проиндексированных Pm нерандомизированных неконтролируемых моноцентровых исследований.",
      "proofStuff": [
        {
          "proofSource": "NOFX",
          "proofDescription": "В базе Cochrane множество качественных РКИ и мета-анализов вроде этих",
          "proofURLS": [
            "http://onlinelibrary.wiley.com/doi/10.1002/14651858.CD010567.pub2/abstract"
          ]
        },
        {
          "proofSource": "FDA",
          "proofDescription": "В базе Cochrane множество качественных РКИ и мета-анализов вроде этих",
          "proofURLS": [
            "http://onlinelibrary.wiley.com/doi/10.1002/14651858.CD010567.pub2/abstract"
          ]
        },
        {
          "proofSource": "FDA",
          "proofDescription": "В базе Cochrane множество качественных РКИ и мета-анализов вроде этих",
          "proofURLS": [
            "http://onlinelibrary.wiley.com/doi/10.1002/14651858.CD010567.pub2/abstract"
          ]
        }
      ]
    }
  },
  {
    "objectId": "577be6c71b88b9b957ddd0fe",
    "name": "Прекрасный арбидол 14",
    "description": "Sint dolore aliquip proident deserunt consectetur exercitation nostrud laboris culpa ullamco dolore. Cillum incididunt nostrud eiusmod et. Nisi esse fugiat sint sunt ullamco pariatur sit et. Ea consequat tempor cillum proident excepteur aliquip reprehenderit eiusmod consectetur irure anim.",
    "indicated": "Судорожные синдромы, Смерть, Передоз",
    "contraIndicated": "БАР, Судорожные синдромы, Работа",
    "inSale": [
      {
        "id": 0,
        "name": "Продажное название 12",
        "price": 695
      },
      {
        "id": 1,
        "name": "Продажное название 20",
        "price": 230
      },
      {
        "id": 2,
        "name": "Продажное название 10",
        "price": 400
      }
    ],
    "proofSection": {
      "proofIndex": 81,
      "proofBaseText": "Не существует. Поиск упоминаний в исследованиях действующего вещества Адаптола \"тетраметилтетраазабициклооктандион\" не выдаёт ни одного результата в базах CC, PM, FDA, RX, WHO, ФК. Однако торговое наименование Adaptol имеет около 60 проиндексированных Pm нерандомизированных неконтролируемых моноцентровых исследований.",
      "proofStuff": [
        {
          "proofSource": "FDA",
          "proofDescription": "В базе Cochrane множество качественных РКИ и мета-анализов вроде этих",
          "proofURLS": [
            "http://onlinelibrary.wiley.com/doi/10.1002/14651858.CD010567.pub2/abstract"
          ]
        },
        {
          "proofSource": "Pubmed",
          "proofDescription": "В базе Cochrane множество качественных РКИ и мета-анализов вроде этих",
          "proofURLS": [
            "http://onlinelibrary.wiley.com/doi/10.1002/14651858.CD010567.pub2/abstract"
          ]
        },
        {
          "proofSource": "Pubmed",
          "proofDescription": "В базе Cochrane множество качественных РКИ и мета-анализов вроде этих",
          "proofURLS": [
            "http://onlinelibrary.wiley.com/doi/10.1002/14651858.CD010567.pub2/abstract"
          ]
        }
      ]
    }
  },
  {
    "objectId": "577be6c7f1a6bc35fd89a029",
    "name": "Прекрасный арбидол 13",
    "description": "Magna elit Lorem tempor consectetur exercitation eiusmod ea do aliquip aute mollit veniam in velit. Mollit occaecat anim ipsum in reprehenderit id ut Lorem pariatur nulla sunt qui laborum. Nulla minim aute fugiat deserunt minim dolore aute minim ipsum nostrud incididunt voluptate ex. Ad do amet enim occaecat amet anim aliqua excepteur.",
    "indicated": "Нейропатия, Переутомляемость",
    "contraIndicated": "Нейропатия, Переутомляемость",
    "inSale": [
      {
        "id": 0,
        "name": "Продажное название 16",
        "price": 587
      },
      {
        "id": 1,
        "name": "Продажное название 15",
        "price": 756
      },
      {
        "id": 2,
        "name": "Продажное название 4",
        "price": 677
      }
    ],
    "proofSection": {
      "proofIndex": 91,
      "proofBaseText": "Не существует. Поиск упоминаний в исследованиях действующего вещества Адаптола \"тетраметилтетраазабициклооктандион\" не выдаёт ни одного результата в базах CC, PM, FDA, RX, WHO, ФК. Однако торговое наименование Adaptol имеет около 60 проиндексированных Pm нерандомизированных неконтролируемых моноцентровых исследований.",
      "proofStuff": [
        {
          "proofSource": "Pubmed",
          "proofDescription": "В базе Cochrane множество качественных РКИ и мета-анализов вроде этих",
          "proofURLS": [
            "http://onlinelibrary.wiley.com/doi/10.1002/14651858.CD010567.pub2/abstract"
          ]
        },
        {
          "proofSource": "Pubmed",
          "proofDescription": "В базе Cochrane множество качественных РКИ и мета-анализов вроде этих",
          "proofURLS": [
            "http://onlinelibrary.wiley.com/doi/10.1002/14651858.CD010567.pub2/abstract"
          ]
        },
        {
          "proofSource": "NOFX",
          "proofDescription": "В базе Cochrane множество качественных РКИ и мета-анализов вроде этих",
          "proofURLS": [
            "http://onlinelibrary.wiley.com/doi/10.1002/14651858.CD010567.pub2/abstract"
          ]
        }
      ]
    }
  }
]